{$PUBLIC_DOMAIN} {
  encode zstd gzip

  @metrics path /metrics
  respond @metrics 404

  reverse_proxy app-server:8787 {
    header_up X-Forwarded-Proto {scheme}
    header_up X-Forwarded-Host {host}
  }
}
